/System Integration/RMI/RMIServer/dist/
/System Integration/RMI/RMIClient/build/
/System Integration/RMI/RMIClient/dist/
node_modules
/System Integration/REST/RESTExample/nbproject/private/
/System Integration/Web Services (SOAP)/WebApplication1/nbproject/private/
/System Integration/Web Services (SOAP)/RESTfulCars/nbproject/private/
/System Integration/Web Services (SOAP)/RESTfulCars/build/
/System Integration/Web Services (SOAP)/RESTfulCars/dist/
/System Integration/Web Services (SOAP)/RESTfulCars2/target/
/Discreet Math/SetsExercise/nbproject/private/
/Discreet Math/SetsExercise/build/
/Discreet Math/Automaton/nbproject/private/
/Discreet Math/Automaton/build/
/Discreet Math/Sets/nbproject/private/
/Discreet Math/Sets/build/
/Discreet Math/StaticAnalysis/nbproject/private/
/Discreet Math/StaticAnalysis/build/

/Large Systems/PairProgramming/nbproject/
/Large Systems/PairProgramming/target/

/Discreet Math/StaticAnalysis/dist/

